.App {
  text-align: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite {
  border: 0;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbarTitle {
  margin: 20px;
}